doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario
            h1 Crea tu cuenta en UpTask 

            //- pre= vardump(error)
            if error 
                if error === "llave duplicada viola restricción de unicidad «usuarios_email_key»"
                    p.error.alerta= "Usuario ya registrado"

            form#formulario.caja.caja-login(action="/crear-cuenta" method="POST")
                .campo 
                    label(for="email") Email: 
                    input(type="email" name="email" placeholder="Tu Email" required value= email)  
                .campo 
                    label(for="password") Password: 
                    input(type="password" name="password" placeholder="Tu Password" required value= password)  
                .campo.enviar 
                    input.boton(type="submit" value="Crear Cuenta")
                .campo
                    a(href="/iniciar-sesion") Volver a Iniciar Sesion 
        
        script(src="/dist/bundle.js") 
